{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">


    <div class="card shadow border-0 rounded-4">



        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">


            <h3 class="mb-0">

                <i class="bi bi-list"></i>

                Transaction History

            </h3>



            <a href="{% url 'export_csv' %}" class="btn btn-success">

                <i class="bi bi-file-earmark-spreadsheet"></i>

                Download CSV

            </a>


        </div>





        <div class="card-body">





            <!-- Search and Filter -->


            <form method="GET" class="row g-3 mb-4">



                <div class="col-md-4">


                    <input type="text" name="search" value="{{ request.GET.search }}" class="form-control"
                        placeholder="Search category or description">


                </div>



                <div class="col-md-3">

                    <select name="type" class="form-select">

                        <option value="">All Types</option>

                        <option value="Income">Income</option>

                        <option value="Expense">Expense</option>

                    </select>

                </div>





                <div class="col-md-3">


                    <input type="date" name="date" value="{{ request.GET.date }}" class="form-control">


                </div>





                <div class="col-md-2">


                    <button class="btn btn-primary w-100">


                        <i class="bi bi-search"></i>

                        Search


                    </button>


                </div>



            </form>







            <div class="table-responsive">


                <table class="table table-hover align-middle">



                    <thead class="table-dark">


                        <tr>


                            <th>Date</th>

                            <th>Type</th>

                            <th>Category</th>

                            <th>Amount</th>

                            <th>Description</th>

                            <th>Actions</th>


                        </tr>


                    </thead>





                    <tbody>



                        {% for t in transactions %}



                        <tr>



                            <td>

                                {{ t.date }}

                            </td>




                            <td>


                                {% if t.transaction_type == "Income" %}


                                <span class="badge bg-success">

                                    {{ t.transaction_type }}

                                </span>


                                {% else %}


                                <span class="badge bg-danger">

                                    {{ t.transaction_type }}

                                </span>


                                {% endif %}



                            </td>





                            <td>

                                {{ t.category }}

                            </td>





                            <td class="fw-bold">


                                ₹{{ t.amount }}


                            </td>





                            <td>


                                {{ t.description|default:"-" }}


                            </td>





                            <td>



                                <a href="{% url 'edit_transaction' t.id %}" class="btn btn-warning btn-sm">


                                    <i class="bi bi-pencil"></i>


                                </a>






                                <form method="POST" action="{% url 'delete_transaction' t.id %}"
                                    style="display:inline;">



                                    {% csrf_token %}



                                    <button class="btn btn-danger btn-sm"
                                        onclick="return confirm('Delete this transaction?')">


                                        <i class="bi bi-trash"></i>


                                    </button>



                                </form>




                            </td>



                        </tr>



                        {% empty %}



                        <tr>


                            <td colspan="6" class="text-center text-muted py-4">


                                <i class="bi bi-wallet2 fs-2"></i>


                                <p class="mt-2">

                                    No Transactions Found

                                </p>


                            </td>


                        </tr>



                        {% endfor %}



                    </tbody>



                </table>


            </div>




        </div>


    </div>


</div>



{% endblock %}